* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.banner {
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.contenido {
    padding: 40px;
    text-align: center;
}

.card {
    background-color: #00FFFF;
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.boton {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background: #1A89FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

    .boton:hover {
        background: #030099;
    }

.botonback {
    width: 20%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background: gray;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
